@font-face {
	font-family: 'Roboto-BoldCondensed';
	src: url('font/toyota/Roboto-BoldCondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Condensed';
	src: url('font/toyota/Roboto-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('font/toyota/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('font/toyota/Roboto-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('font/toyota/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rotis-Sans-Serif-Extra-Bold-75';
	src: url('font/toyota/Rotis-Sans-Serif-Extra-Bold-75.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.ui-btn-inner {
	font-size: 30px !important;
	font-family: Roboto-BoldCondensed;
	color: white;
	padding: 18% 0% 0 20% !important;
	white-space: nowrap;
}
.logo {
	background: url('images/toyota/branding_image.png') no-repeat center center;
	background-size: 100% 100%;
	width: 416px;
	height: 72px;
	margin: 1.7% 0 0 2%;
}
.btn-layout {
	background: url('images/toyota/btn_bg.png') no-repeat center center;
	background-size: 100% 100%;
	width: 179px;
	height: 97px;
	border: none;
	border-radius: 0px;
}
.right-reserved-text {
	color: #333333;
	font-size: 12px;
	font-family: Roboto-Regular;
	margin: 6% 0 0% 15%;
	text-shadow:none;
}
.app-name {
	font-size: 70px;
	text-align: center;
	color: #292929;
	font-family: Rotis-Sans-Serif-Extra-Bold-75;
	line-height: 74px;
}
.text-field-bg input {
	color: #59595B;
	font-size: 44px;
	font-family: Roboto-Medium;
	line-height: 64px;
}
.text-field-bg  input::-webkit-input-placeholder {
	color: #59595B;
}
.login-error-icon {
	background: url('images/common/error-icon.png') no-repeat center center;
	background-size: 100% 100%;
	height: 32px;
	width: 32px;
	float: left;
}
.login-error {
	color: red;
	font-size: 20px;
	float: left;
	margin: 1% 0 0 3%;
	width: 82%;
}
.search-page-bg {
	background: url('images/toyota/main_bg.png') no-repeat center center;
	background-size: 100% 100%;
	width: 1024px !important;
}
.search-text-field-bg input {
	color: #59595B;
	font-size: 50px;
	font-family: Roboto-Medium;
	line-height: 108px;
}
.search-text-field-bg  input::-webkit-input-placeholder {
	color: #59595B;
}
.ui-btn-layout {
	background: gray;
	border: 1px solid black;
	border-radius: 7px;
	color: white !important;
	margin: 4% 0 4% 35%;
	text-shadow: none;
	width: 30%;
}
.search-input-text {
	font-size: 54px;
	font-family: Roboto-Medium;
	color: #3D3D3D;
	margin: 3% 0 3% 0;
	text-align: center;
}
.pending-job-text {
	text-align: center;
	font-family: Roboto-Medium;
	padding-top: 2%;
	font-size: 34px;
	color: #3D3D3D;
}
.no-pending-job-text {
	text-align: center;
	font-size: 24px;
	font-family: Roboto-Medium;
	text-shadow: none;
	padding-top: 3%;
	color: red;
	display: none;
}
.search-header-text {
	color: #3D3D3D;
	font-size: 40px;
	font-family: Roboto-Medium;
	text-align: center;
	padding-top: 2.2%;
	width: 90%;
}
.vehicle-list-layout {
	color: #C20020;
	font-size: 24px;
	font-family: Roboto-Medium;
	line-height: 40px;
	width: 78%;
	margin-left: 14%;
}
.search-result-layout {
	font-size: 24px;
	font-family: Roboto-Light;
	color: #3D3D3D;
	padding: 0.2% 0 0 19% !important;
	width:73%;
}
.vehicle-details-left-content {
	font-family: Roboto-Light;
	font-size: 34px;
	color: #3D3D3D;
	line-height: 74px;
	width: 48% !important;
	padding: 1.3% 0;
}
.vehicle-details-right-content {
	font-family: Roboto-Medium;
	font-size: 34px;
	color: #C20020;
	line-height: 74px;
	width: 48% !important;
	padding: 1.3% 0;
}
.pending-job-img {
	background: url('images/toyota/icn_inprocess.png') no-repeat center center;
	background-size: 100% 100%;
	height: 40px;
	width: 40px !important;
	margin-left: 10%;
	margin-top: 10px;
	display:none;
}
.attention-count-bg {
	border: 1px solid red !important;
	background-color: red;
	margin-left: 5%;
}
.gear-face-label {
	font-family: Roboto-Condensed;
	font-size: 20px;
	font-weight: bold;
	color: #131313;
	text-align: left;
	line-height: 26px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 115px;
}
.attention-count, .caution-count, .ok-count {
	width: 100%;
	height: 20px;
	padding: 16px 0 14px;
	font-family: Roboto-BoldCondensed;
	font-size: 24px;
	font-weight: bold;
	color: #131313;
}
.save-exit-btn {
	background-image: url('images/toyota/questionare/btn_save_and_exit.png');
	background-size: 100% 100%;	
	width: 201px;
	height: 113px;	
}
.submit-btn {	
	background-image: url('images/toyota/questionare/btn_submit.png');
	background-size: 100% 100%;	
	width: 149px;
	height: 112px;
}
.job-name-btn {
	color: #C20020 !important;
	line-height: 26px;
}
.question-btn-text{
	text-align: center;
	font-family: Roboto-BoldCondensed;
	font-size: 36px;
	font-weight: bold;
	color: #FFF;	
	text-shadow:none;
}
.pad-to-perfection {
	position: absolute;
	padding: 4.6% 0 0 8%;
	font-family: Roboto-BoldCondensed;
	font-size: 34px;
	font-weight: bold;
	color: #000;
	text-shadow:none;
	width: 10% !important;
}
.mandatory-pad {	
	width: 60px;
	font-family: Roboto-BoldCondensed;
	color: #000 !important;
	text-shadow:none;
	font-size: 26px;
	font-weight: bold;
	margin-top: -15px;
}
.show-footer-btn {
	background-image: url('images/toyota/questionare/bg_legends_collapse.png') ;
	width: 5%;
	height: 112px;	
	margin-left: 31%;
	display: none;
	bottom: 0;
	position: absolute;
	z-index: 200;
	background-position-x: 100%;
	background-position-y: 0px;
	right: 0;
}
.overlapping-footer {
	background: url('images/toyota/questionare/bg_legends_expanded.png');
	background-size: 100% 100%;
	height: 112px;
	width: 726px;
	bottom: 0;
	position: absolute;
	z-index: 200;
	margin-left: 95px;
}
.notifier-text {
	text-align: center;
	margin-left: 30%;
	top: 30%;
	position: relative;
	font-family: Roboto-BoldCondensed;
	font-size: 24px;
	color: #414141;
	font-weight: bold;
}
.change-color-snap-element {
	color: #EC4040
}
.pop-up-text-msg{
	font-family:Roboto-Medium;
	color:#3D3D3D;
}
.pop-up-job-id-text{
	font-family: Roboto-Light;
	color:#3D3D3D;
	padding-right: 2%;
}
.pop-up-job-id{
	font-family: Roboto-Light;
	color:#C20020;
}
.popup-ok-btn-text{
	font-size: 30px !important;
	font-family: Roboto-BoldCondensed;
	color: white;
	padding: 18% 0% 0 10% !important;
	white-space: nowrap;
	text-align: center;
}
.ui-red-popup {
	background: url('images/toyota/bg_popup_red.png') no-repeat !important;
	background-size: 100% 100% !important;
	width:489px !important;
	height:223px;
}
.custom-toggle-switch .ui-btn-active {
	background-image: url('images/toyota/questionare/bg_yes_toggle.png') !important; 
	background-size: 100% 100% !important;
	border:none !important;
	background: none ;
	text-shadow: none !important;
	font-family: Roboto-Regular !important;
	font-size: 28px !important;
	color: #FFFFFF !important;
	line-height: 47px;
	font-weight: normal;
}
.textfield-bg-specs{
	color:#000000;
	font-family:Roboto-Regular !important;
	font-size: 28px;
	font-weight: normal;
}
.comment-filled-img{
	background-image: url('images/toyota/questionare/icn_comments_filled.png') !important; 
	background-size: 100% 100%;
	width: 56px;
	height: 50px;
	margin: 20% 10% 0 0;
}
.question-text-layout{
	width:95%;
	margin: 0 0 0 5%;
	font-family: Roboto-Regular;
	font-size: 28px;	
	color: #131313;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
.delete-btn-layout {
	background: url('images/toyota/questionare/btn_red_background.png') no-repeat center center;
	background-size: 100% 100%;
	width: 165px;
	height: 99px;
	border: none;
	border-radius: 0px;
}
.comment-heading-text {
	height: 50px !important;
	width: 380px !important;
	text-align: center;
	color:#3D3D3D;
	font-family:Roboto-Medium !important;
	font-size: 40px;
	font-weight: normal;
	padding-top: 6%;
	padding-left: 25%;
}
.comment-bg-specs{
	color:#3D3D3D;
	font-family:Roboto-Medium !important;
	font-size: 30px;
	font-weight: normal;
}
.date_time_text{
	color: #131313 !important;
	font-family: Roboto-Regular !important;
	font-size: 28px !important;
	margin-left: 5%;
	padding-top: 3%;
	font-weight: bold;
}
.input_text_mobiscroll input{
	padding: 4.5% 17%;
	border: none;
	background: none;
	font-size: 28px;
	font-family: Roboto-Regular !important;
	color: #C20020;
	font-weight: bold;
}
.chronos-picker-set-btn {
	height: 99px;
	width: 165px;
	background-image: url("images/toyota/questionare/btn_red_background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 3px;
	text-align: center;
}
.chronos-picker-text {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	font-family: Roboto-Regular;
	color: #C20020;
	position: absolute;
	margin-left: 0%;
	width: 111px;
	margin-top: 2%;
}
.chronos-picker-btn-text {
	text-align: center;
	font-family: Roboto-BoldCondensed;
	font-size: 34px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: none !important;
	margin: 18% 0 0 10%;
}
.chronos-picker-header-text {
	position: absolute;
	width: 94%;
	text-align: center;
	font-size: 35px;
	font-family: Roboto-Medium;
	margin-top: 5%;
	font-weight:bold;
}
.custom-toggle-switch .ui-btn-down-a{
	text-shadow: none !important;
	font-family: Roboto-Medium !important;
	font-size: 30px !important;
	color: #000000 !important;
	font-weight: bold;
}
.mandatory-count{
	font-size: 34px;
	font-weight: bold;
}
.HorizontalScroller{
	font-size: 24px;
	font-weight: bold;
}